<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <%= link_to "Add New Venue", new_venue_path %>

    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.location %></td>
        <td>
          <%= link_to "Edit", edit_venue_path(venue) %>
          <%= link_to 'Delete',
          venue_path(venue),
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
